* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
}

header img {
    width: 50%;
}

.call {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    padding-right: 30px;
}

.call h3 {
    display: flex;
    flex-direction: column;
    font-size: 25px;
    letter-spacing: 2px;
    font-family: Arial, Helvetica, sans-serif;
    gap: 5px;
    font-weight: 750;
    color: #7c1513;
}

h3 span {
    background-color: black;
    height: 3px;
    width: 100%;
}

.call h2 {
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
}

.call p {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1.5px;
    font-weight: 600;
}

nav {
    background: url(menu_bg.gif);
    background-size: contain;
    width: 100%;
    height: 50px;
}

nav ul {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 20px;
}

ul li {
    list-style-type: none;
}

ul img {
    display: none;
    height: 100%;
}

ul li a {
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    padding-right: 25px;
}

ul li a:hover {
    background-color: gray;
    padding: 16px;
}

main .posters {
    width: 100%;
    display: flex;
    padding-top: 40px;
    justify-content: space-evenly;
}

.posters .poster {
    width: 50%;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.4);
}

.inform {
    width: 45%;
    display: flex;
    flex-direction: column;
    background: url(form_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.4);
}

.Questions {
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.Questions h1 {
    background-color: #9b0b12;
    color: white;
    padding-left: 5px;
}

.Questions h4 {
    font-size: 25px;
    padding-right: 50px;
    letter-spacing: 0.5px;
    font-family: Arial, Helvetica, sans-serif;
}

.Questions h4 B {
    font-size: 35px;
    color: #113452;
}

.inform p {
    font-size: 19px;
    padding-left: 23px;
    padding-right: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

.name {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 10px;
    padding-top: 10px;
    padding-left: 30px;
}

.info input {
    width: 200px;
    height: 20px;
}

.info label {
    font-size: 15px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}

.name img {
    transform: rotate(10deg);
    width: 200px;
    padding-right: 50px;
}

.inform textarea {
    resize: none;
    width: 85%;
    margin: auto;
    height: 20%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding-left: 5px;
    padding-top: 5px;
    font-weight: 700;
}

.privacy {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    gap: 10px;
}

.privacy p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: gray;
}

.privacy button {
    font-size: 20px;
    padding: 10px;
    background-color: #9d0707;
    color: white;
    border: none;
    width: 50%;
}

.containor {
    width: 100%;
    display: flex;
    margin-top: 60px;
    margin-bottom: 50px;
}

.left {
    width: 30%;
    padding-left: 30px;
    padding-top: 20px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
}

.left h2 {
    color: #494949;
    padding-bottom: 10px;
    font-size: 25px;
}

.left h2 span {
    color: #7c1513;
}

.left h4 {
    color: #9b0b12;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 10px;
    font-size: 18px;
}

.boxex {
    display: flex;
    align-items: start;
    gap: 20px;
}

.boxex p {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.notpad {
    width: 200px;
}

.center {
    width: 40%;
    border-left: 1px solid rgba(128, 128, 128, 0.336);
    border-right: 1px solid rgba(128, 128, 128, 0.336);
    display: flex;
    flex-direction: column;
}

.top {
    display: flex;
    padding-left: 30px;
    padding-bottom: 30px;
    justify-content: space-between;
    align-items: center;
}

.top h2 {
    color: #494949;
    font-size: 25px;
}

.top h2 span {
    color: #7c1513;
}

.top p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding-top: 5px;
}

.pic1 {
    width: 200px;
    display: flex;
    align-items: center;
    padding-left: 25px;
}

.bottom {
    display: flex;
    padding-left: 30px;
    border-top: 1px solid rgba(128, 128, 128, 0.336);
    padding-top: 50px;
     justify-content: space-between;
    align-items: center;
}

.bottom h2 {
    color: #494949;
    font-size: 25px;
}

.bottom h2 span {
    color: #7c1513;
}

.bottom p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding-top: 5px;
}

.pic2 {
    width: 170px;
    display: flex;
    align-items: center;
    padding-left: 25px;
}

.right {
    width: 30%;
    display: flex;
    flex-direction: column;
    padding-left: 30px;
}

.images {
    display: flex;
    align-items: center;
    padding-left: 25px;
    gap: 20px;
    padding-top: 20px;
}

.images img {
    height: 100px;
}

.right h2 {
    color: #494949;
    font-size: 25px;
    padding-top: 10px;
}

.right h2 span {
    color: #7c1513;
}

.right p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding-top: 10px;
}

.bullets {
    display: flex;
    justify-content: center;
    border-top: 1px solid gray;
    width: 150px;
    padding-left: 40px;
    margin-top: 10px;
    align-self: flex-end;

}

.bullets button {
    height: 30px;
    width: 120px;
    background-color: #9d0707;
    color: white;
    border: none;
    box-shadow: -4px 4px 10px rgba(0, 0, 0, 0.402), 4px 4px 10px rgba(0, 0, 0, 0.402);
}

.shadow {
    width: 100%;
}

.section1 {
    display: flex;
    width: 100%;
    padding-top: 20px;
    gap: 5px;
}

.one {
    display: flex;
    flex-direction: column;
    width: 25%;
    padding-left: 20px;

}

.one h2 {
    color: #494949;
    font-size: 28px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.one h2:nth-child(3) {
    padding-top: 30px;
}

.one h2 span {
    color: #7c1513;
}

.column {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-top: 20px;
}

.top1 {
    display: flex;
    background-color: #838383;
}

.boxside {
    width: 10px;
    height: 70px;
}

.top2 {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.top2 p {
    font-size: 21px;
    padding-top: 10px;
    padding-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: 700;
}

.buttons {
    padding: 5px 11px 5px 0;
    align-self: flex-end;
}

.buttons button {
    height: 20px;
    color: white;
    background-color: #838383;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    font-size: 15px;
    font-weight: 600;
}

.buttons img {
    width: 10px;
}

.bottom1 {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 90px;
}

.bottom1 h4 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: #c5c5c5;
}

.mid {
    width: 50%;
    line-height: 30px;
    padding-left: 20px;
}

.mid h1 {
    font-size: 30px;
    color: #474747;
}

.mid p {
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 15px;
    color: #888783;
}

.two {
    width: 25%;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidetwo1 {
    display: flex;
    flex-direction: column;
    padding: 0 20px 40px 20px;
    gap: 5px;

}

.sidetwo1 h2 {
    color: #494949;
    font-size: 28px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 25px;
    padding-left: 10px;
}

.sidetwo1 span {
    color: #7c1513;
}

.sidetwo1 p {
    font-size: 20px;
    padding-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 10px;
}

.sidetwo1 .bullets {
    border-top: 3px solid rgba(87, 85, 85, 0.943);
    width: 90%;
    padding: 0;
    align-self: flex-start;
}

.sidetwo1 .bullets button {
    margin-left: 30px;
    box-shadow: -6px 0 10px rgba(0, 0, 0, 0.402), 6px 0 10px rgba(0, 0, 0, 0.402);
}

.sidetwo2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.sidetwo3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.icons {
    margin-bottom: 80px;
    display: flex;
    gap: 13px;
}

#line {
    width: 70%;
    height: 3px;
    background-color: #474747;
}

footer {
    background-image: url(ft_bg.png);
    background-size: contain;
    height: 35px;
    width: 100%;
}

@media (max-width: 1216px) {
    .inform input {
        width: 150px;
        height: 17px;
    }

    .info label {
        font-size: 13px;
    }

    .name img {
        width: 180px;
    }

    .inform textarea {
        width: 80%;
        font-size: 18px;
    }

    .privacy p {
        font-size: 16px;
    }

    .privacy button {
        font-size: 18px;
        width: 49%;
    }
}

@media (max-width: 1165px) {
    .Questions h1 {
        font-size: 30px;
    }

    .Questions h4 {
        font-size: 18px;
    }

    .Questions h4 B {
        font-size: 23px;
    }

    .inform p {
        font-size: 16px;
    }

    .info input {
        width: 120px;
        height: 13px;
    }

    .info label {
        font-size: 11px;
    }

    .name img {
        width: 160px;
        padding-right: 75px;
    }

    .inform textarea {
        width: 75%;
        font-size: 16px;
    }

    .privacy p {
        font-size: 14px;
    }

    .privacy button {
        font-size: 16px;
        width: 47%;
    }

    .right h2 {
        font-size: 22px;
    }

    .right p {
        font-size: 15px;
    }

    .images {
        gap: 15px;
        padding-left: 20px;
    }

    .images img {
        height: 80px;
    }

    .top h2 {
        font-size: 23px;
    }

    .top p {
        font-size: 15px;
    }

    .pic1 {
        width: 150px;
    }

    .bottom h2 {
        font-size: 23px;
    }

    .bottom p {
        font-size: 15px;
    }

    .pic2 {
        width: 150px;
    }

    .left h2 {
        font-size: 23px;
    }

    .left h4 {
        font-size: 16px;
    }

    .boxex p {
        font-size: 15px;
    }

    .one h2 {
        font-size: 24px;
    }

    .top2 p {
        font-size: 18px;
    }

    .buttons button {
        font-size: 13px;
    }

    .bottom1 h4 {
        font-size: 21px;
    }

    .mid h1 {
        font-size: 25px;
    }

    .mid p {
        font-size: 14px;
    }

    .sidetwo1 h2 {
        font-size: 24px;
    }

    .sidetwo1 p {
        font-size: 17px;
    }

    .containor {
        flex-wrap: wrap;
    }

    .left {
        width: 40%;
    }

    .center {
        width: 50%;
    }
    .top{
        padding-right: 30px;
    }
    .top h2{
        font-size: 25px;
    }
    .top p{
        font-size: 16px;
    }
    .pic1{
        width: 200px;
    }
    .bottom{
        padding-right: 30px;
    }
    .bottom h2{
        font-size: 25px;
    }
    .bottom p{
        font-size: 16px;
    }
    .pic2{
        width: 200px;
    }

    .right {
        width: 100%;
        align-items: center;
        justify-content: center;
        margin-top: 50px;
    }
    .right h2{
        font-size: 27px;
    }
    .right p{
        font-size: 19px;
    }
    .images img{
        height: 150px;
    }

    .right .bullets {
        align-self: center;
    }
}

@media (max-width: 992px) {
    .call h3 {
        font-size: 22px;
    }

    .call h2 {
        font-size: 54px;
    }

    .call p {
        font-size: 16px;
    }

    ul li a {
        padding-right: 15px;
        font-size: 14px;
    }

    .posters .poster {
        width: 90%;
    }

    main .posters {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    .inform {
        width: 90%;
    }

    .Questions h1 {
        font-size: 40px;
    }

    .Questions h4 {
        font-size: 30px;
    }

    .Questions h4 B {
        font-size: 35px;
    }

    .inform p {
        font-size: 26px;
    }

    .info input {
        width: 200px;
        height: 25px;
    }

    .info label {
        font-size: 20px;
    }

    .name img {
        width: 250px;
        transform: rotate(9deg);
        padding-right: 100px;
    }

    .inform textarea {
        width: 90%;
        font-size: 25px;
    }

    .privacy {
        padding-top: 10px;
        gap: 25px;
    }

    .privacy p {
        font-size: 25px;
    }

    .privacy button {
        font-size: 27px;
        width: 48%;
    }
    /* container */
    .left h2{
        font-size: 22px;
    }
    .left h4{
        font-size: 16px;
    }
    .boxex p{
        font-size: 14px;
    }
    .notpad{
        width: 150px;
    }   
    .top h2 {
        font-size: 22px;
    }
    .top p {
        font-size: 14px;
    }
    .bottom h2 {
        font-size: 22px;
    }
    .bottom p {
        font-size: 14px;
    }
    .right h2 {
        font-size: 24px;
    }
    .images img{
        height: 120px;
    }
    .right p {
        font-size: 16px;
    }
    .section1 {
        flex-wrap: wrap;
    }
    .one {
        width: 30%;
    }
    .one h2 {
        font-size: 23px;
    }
    .mid {
        width: 64%;
    }
    .two {
        width: 88%;
    }
    .boxes {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .sidetwo1 h2 {
        font-size: 22px;
    }
    .sidetwo1 p {
        font-size: 15px;
    }
    .sidetwo2 {
        flex-direction: row;
    }
    .sidetwo3 {
        width: 40%;
    }
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        gap: 5px;
    }

    header img {
        width: 80%;
    }

    .call {
        padding: 0;
        align-items: center;
    }

    .call h3 {
        font-size: 18px;
    }

    .call h2 {
        font-size: 45px;
    }

    .call p {
        font-size: 13px;
    }

    nav {
        height: 30px;
    }

    ul img {
        display: block;
    }

    ul li a {
        display: none;
    }

    .Questions h1 {
        font-size: 35px;
    }

    .Questions h4 {
        font-size: 25px;
    }

    .Questions h4 B {
        font-size: 30px;
    }

    .inform p {
        font-size: 22px;
    }

    .info input {
        width: 150px;
        height: 22px;
    }

    .info label {
        font-size: 18px;
    }

    .name img {
        width: 220px;
        transform: rotate(8deg);
        padding-right: 85px;
    }

    .inform textarea {
        width: 85%;
        font-size: 20px;
    }

    .privacy {
        padding-top: 10px;
        gap: 25px;
    }

    .privacy p {
        font-size: 20px;
    }

    .privacy button {
        font-size: 22px;
        width: 48%;
    }
    .containor {
        flex-direction: column;
        align-items: center;
    }
    .left {
        width: 77%;
        justify-content: start;
        margin: 30px;
    }
    .notpad{
        width: 150px;
    }
    .left .bullets {
        align-self: center;
    }
    .left h2{
        align-self: left;
    }
    .left h4{
        align-self: left;
    }
    .center {
        width: 90%;
        border-left: none;
        border-right: none;
        margin: 30px 0;
    }
    .right {
        width: 90%;
        align-items: center;
        justify-content: center;
        margin: 30px 0;
    }
    .images{
        flex-direction: column;
    }
    .images img{
        height: 150px;
    }
    .section1 {
        flex-wrap: wrap;
    }

    .one {
        width: 90%;
        align-items: center;
        justify-content: center;
    }
    .mid{
         width: 90%;
        align-items: center;
        padding: 0 15vw 5vw 15vw;
    }

    .boxes {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 35%;
    }
    .two{
        width: 90%;
        align-items: center;
        justify-content: center;
    }

    .sidetwo2 {
        flex-direction: column;
    }

    .sidetwo3 {
        width: 30%;
    }
    .sidetwo3 h2{
        font-size: 21px;
    }


}

@media (max-width: 684px) {
    .Questions h1 {
        font-size: 30px;
    }

    .Questions h4 {
        font-size: 23px;
    }

    .Questions h4 B {
        font-size: 28px;
    }

    .inform p {
        font-size: 19px;
    }

    .info input {
        width: 120px;
        height: 17px;
    }

    .info label {
        font-size: 15px;
    }

    .name img {
        width: 200px;
        transform: rotate(7deg);
        padding-right: 80px;
    }

    .inform textarea {
        width: 80%;
        font-size: 17px;
    }

    .privacy p {
        font-size: 17px;
    }

    .privacy button {
        font-size: 19px;
        width: 47%;
    }

    .mid h1 {
        font-size: 23px;
    }

    .mid p {
        font-size: 12px;
    }

    .sidetwo1 h2 {
        font-size: 20px;
    }

    .sidetwo1 p {
        font-size: 13px;
    }
}

@media (max-width: 576px) {
    .call h3 {
        font-size: 14px;
    }

    .call h2 {
        font-size: 37px;
    }

    .call p {
        font-size: 10px;
    }

    ul li a {
        font-size: 10px;
        padding-right: 5px;
    }

    .Questions h1 {
        font-size: 27px;
    }

    .Questions h4 {
        font-size: 20px;
    }

    .Questions h4 B {
        font-size: 25px;
    }

    .inform p {
        font-size: 17px;
    }

    .info input {
        width: 100px;
        height: 15px;
    }

    .info label {
        font-size: 13px;
    }

    .name img {
        width: 150px;
        transform: rotate(6deg);
        padding-right: 70px;
    }

    .inform textarea {
        width: 75%;
        font-size: 15px;
    }

    .privacy p {
        font-size: 14px;
    }

    .privacy button {
        font-size: 16px;
        width: 45%;
    }
}